# .dockerignore

# Ignore the virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Git files
.git/
.gitignore

# Ignore VS Code settings
.vscode/

# Ignore unnecessary scripts and data
main.py
query.py
evaluate.py
evaluate_rerank.py
evaluate_baseline.py
golden_dataset.csv

# Ignore the .env file containing secret keys
.env
